#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.app-container {
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    gap: 5px;
}
.animal-container {
    flex-grow: 2;
    width: 50%;
    height: 100%;
    border: 1px solid white;
    padding: 0.5rem;
}
.name {
    font-size: 1.2rem;
}
.history-container {
    /* flex-grow: 1; */
    border: 1px solid white;
    padding: 0.5rem;
    height: 100%;
    width: 25%;
}
.history-cards {
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* white-space: nowrap; */
    max-height: 700px;
}
.ban-lists-container {
    /* flex-grow: 1; */
    width: 25%;
    border: 1px solid white;
    height: 100%;
}
.ban-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.animal-card {
    margin-bottom: 1rem;
}
.display-image {
    width: 250px;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(214, 213, 213, 0.1);
}
.history-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.new-dog-btn {
    cursor: pointer;
}

.ban-attributes {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 0.4rem;
    margin-bottom: 1rem;
    text-align: center;
}
